<table>
    <thead>
        <tr>
            <td ng-repeat="col in grid.columns" ng-click="toogleSort(col.name)">{{col.name}} <i ng-class="{'fa': true, 'fa-sort-asc': col.sortDirection === 'asc', 'fa-sort-desc': col.sortDirection === 'desc'}" ng-if="col.sortDirection"></i></td>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="item in grid.items">
            <td ng-repeat="col in grid.columns" ng-switch on="getValueType(item[col.name])">
                <span ng-switch-default>{{item[col.name]}}</span>
                <ul ng-switch-when="array">
                    <li ng-repeat="element in item[col.name]">{{element}}</li>
                </ul>
                <span ng-switch-when="number" class="number">{{item[col.name]}}</span>
            </td>
        </tr>        
    </tbody>
    <tfoot>
        <tr>
            <td colspan={{grid.columns.length}}>
                <a ng-click="goToPage(grid.pagging.currentPage - 1)" ng-disabled="grid.pagging.currentPage <= 0">
                    <i class="fa fa-angle-left"></i>
                </a>
                Страница: {{grid.pagging.currentPage + 1}} из {{grid.pagging.totalPages}}
                <a ng-click="goToPage(grid.pagging.currentPage + 1)" ng-disabled="grid.pagging.currentPage + 1 >= grid.pagging.totalPages">
                    <i class="fa fa-angle-right"></i>
                </a>
                Размер страницы: <select ng-options="item as item for item in [5, 10, 20, 50]" ng-model="grid.pagging.pageSize"></select>
                Всего записей: {{grid.pagging.totalCount}}
            </td>
        </tr>
    </tfoot>
</table>