<section class="gallery" id="gallery">
    <h1>Галерея
        <i class="fa pointer" ng-class="{ 'fa-sort-asc': !desc, 'fa-sort-desc': desc }" ng-click="desc = !desc"></i>
    </h1>

    <div class="favorites">
        <h2>Избранное</h2>
        <div id="favorites" ondrop="drop(event)" ondragover="allowDrop(event)">

        </div>
    </div>
    <div ng-repeat="item in gallery | orderBy:'album':desc" class="album">
        <h2>{{item.album}}</h2>
        <div class="images" gallery>
            <a ng-repeat="image in item.photos" title="{{image.alt}}" href="{{image.url}}">
                <img src="{{image.thumbnail}}" alt="{{image.alt}}" draggable="true" id="{{item.album + '-' + $index}}" ondragstart="drag(event)"
                />
            </a>
        </div>
    </div>
</section>

<script type="text/javascript">
    function allowDrop(ev) {
        ev.preventDefault();
    }

    function drag(ev) {
        ev.dataTransfer.setData('text', ev.target.id);
    }

    function drop(ev) {
        ev.preventDefault();
        var data = ev.dataTransfer.getData('text');
        var clone = document.getElementById(data).cloneNode(true);
        clone.id = `clone-${clone.id}`;
        var exists = document.getElementById(clone.id);
        if (!exists) {
            document.getElementById('favorites').appendChild(clone);
        }
    }
</script>