body {
	margin-top: 80px;
}

a {
	text-decoration: underline;
	cursor: pointer;
}

p {
	text-indent: 20px;
	text-align: justify;
	margin: 0;
}

h1,
h2 {
	text-align: center;
}

h1 {
	font-size: 26px;
	font-weight: 800;
}

h2 {
	margin-bottom: 10px;
}

form {
	width: 80%;
	margin: 0 auto;
}

input,
textarea,
button {
	border: 1px solid #444444;
	border-radius: 5px;
	padding: 5px;
}

form fieldset {
	margin: 10px 0;
	border: none;
}

form fieldset label {
	display: inline-block;
	width: 25%;
	vertical-align: top;
	font-size: 18px;
}

form fieldset input,
form fieldset textarea {
	display: inline-block;
	width: 73%;
	max-width: 73%;
	min-width: 73%;
	box-sizing: border-box;
}

button {
	min-width: 120px;
	cursor: pointer
}

button:hover {
	transform: scale(1.05);
}

.left {
	float: left;
}

.right {
	float: right;
}

.clearfix {
	clear: both;
}

.center {
	display: block;
	margin: 0 auto;
}

.error {
	color: #ff0000;
	border-color: #ff0000;
}

.pointer {
	cursor: pointer;
}

.content {
	color: #2222ee;
	width: 800px;
	margin: 0 auto;
	text-shadow: #eeeeee 1px 1px;
}

header {
	color: #ffffff;
	position: fixed;
	background: linear-gradient(#5555ff, #2222ee);
	width: 100%;
	height: 70px;
	top: 0;
	left: 0;
	z-index: 9999;
	box-shadow: #5555ee 0 2px;
}

header .content {
	height: 100%;
}

header .logo {
	margin-right: 15px;
}

header .logo {
	text-decoration: none;
	color: #ffffff;
}

header .logo h1 {
	font-size: 22px;
	margin: 10px 0 0;
	font-weight: 800;
	text-shadow: #444444 2px 2px;
}

header .logo h4 {
	font-size: 16px;
	margin: 0;
	font-weight: 400;
	text-shadow: none;
}

header nav {
	text-align: right;
}

header nav a {
	text-decoration: none;
	font-size: 18px;
	color: #ffffff;
	display: inline-block;
	margin: 16px 5px 5px;
	padding: 5px;
	border-radius: 3px;
	box-sizing: border-box;
	border: 1px solid rgba(255, 255, 255, 0);
	text-shadow: #444444 1px 1px;
}

header nav a:hover {
	transform: scale(1.05, 1.05);
	background-color: #2222ff;
	border-color: #ffffff;
}

header nav .login {
	padding: 10px;
	background: #666666;
	background: rgba(255, 255, 255, 0.9);
	border: 1px solid;
	border-radius: 10px;
}

.content .about img {
	display: block;
	width: 250px;
	margin-right: 15px;
}

.content .about table {
	font-size: 18px;
}

.content .about iframe {
	display: block;
	margin: 0 auto;
	margin-top: 15px;
}

.content .about table td:first-child {
	font-weight: 800;
	padding-right: 10px;
}

.content .about .video {
	position: relative;
}

.content .about .video i {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	font-size: 50px;
	cursor: pointer;
}

.content .hobbylist .hobby {
	float: left;
	width: 49.5%;
	padding: 0 7px;
	box-sizing: border-box;
	vertical-align: top;
	border: 1px solid #444444;
	border-radius: 5px;
	margin-bottom: 10px;
	background: linear-gradient(#dddddd, #ffffff);
	max-height: 380px;
	overflow: hidden;
	cursor: pointer;
}

.content .hobbylist .hobby:nth-child(even) {
	float: right;
}

.content .hobbylist .hobby:hover {
	background: linear-gradient(#cccccc, #dddddd);
	border: 1px solid #888888;
}

.hobby p img {
	width: 48%;
	float: left;
	margin: 10px 10px 10px 0;
}

.hobby p img:nth-child(odd) {
	float: right;
	margin: 10px 0 10px 10px;
}

.gallery .images img {
	display: inline-block;
	margin: 5px 7px;
	cursor: pointer;
	width: 250px;
	height: 300px;
}

.content .blog img {
	width: 250px;
	margin-right: 15px;
}

.content .blog .blog-content {
	display: none;
}

.modalContent {
	position: relative;
}

.content map {
	width: 100%;
	height: 500px;
	display: block;
}

.modalContent #arrowLeft,
.modalContent #arrowRight {
	position: absolute;
	padding: 0 50px;
	cursor: pointer;
	height: 100%;
	top: 0;
}

.modalContent #arrowLeft:hover,
.modalContent #arrowRight:hover {
	background: rgba(100, 100, 200, 0.5);
}

.modalContent #arrowRight {
	right: 0;
}

.modalContent #arrowLeft i,
.modalContent #arrowRight i {
	position: absolute;
	top: 50%;
	transform: translate(0, -50%);
	display: none;
}

.modalContent #arrowLeft:hover i,
.modalContent #arrowRight:hover i {
	display: inline-block;
}

.blog-item img {
	margin: 0 10px 10px 0;
	width: 200px;
	height: 200px;
}

footer.content {
	margin-top: 20px;
}

footer p {
	text-align: center;
}

.gallery-container {
	z-index: 10000;
}

*[disabled] {
	cursor: not-allowed;
}

.block-ui {
	position: relative;
}

.grid a {
	text-decoration: none;
	padding: 2px 5px;
}